Repository wuxudongxd/labClockIn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: uninstall typescript deps
  .eslintignore
  .eslintrc.js
  .prettierignore
  .vscode/settings.json
  miniprogram/app.json
  miniprogram/app.scss
  miniprogram/pages/index/index.scss
  miniprogram/pages/index/index.wxml
  miniprogram/utils/util.ts
  package-lock.json
  package.json
  project.config.json
Due: eslint --fix, prettier --write

feat: optimize auth
  .vscode/settings.json
  miniprogram/app.json
  miniprogram/components/loading/index.json
  miniprogram/components/loading/index.scss
  miniprogram/components/loading/index.ts
  miniprogram/components/loading/index.wxml
  miniprogram/pages/audit/index.ts
  miniprogram/pages/audit/index.wxml
  miniprogram/pages/audit/index.wxss
  miniprogram/pages/auth/index.ts
  miniprogram/pages/auth/index.wxml
  miniprogram/pages/guard/index.json
  miniprogram/pages/guard/index.scss
  miniprogram/pages/guard/index.ts
  miniprogram/pages/guard/index.wxml
  miniprogram/pages/guard/unaudit/index.json
  miniprogram/pages/guard/unaudit/index.scss
  miniprogram/pages/guard/unaudit/index.ts
  miniprogram/pages/guard/unaudit/index.wxml
  miniprogram/pages/guard/unauth/index.json
  miniprogram/pages/guard/unauth/index.scss
  miniprogram/pages/guard/unauth/index.ts
  miniprogram/pages/guard/unauth/index.wxml
Due: eslint --fix, prettier --write

feat: add location
  cloudfunctions/auth/index.js
  cloudfunctions/check-clock-in/config.json
  cloudfunctions/check-clock-in/index.js
  cloudfunctions/check-clock-in/package.json
  miniprogram/app.json
  miniprogram/pages/guard/unauth/index.ts
  miniprogram/pages/index/index.ts
  miniprogram/pages/index/index.wxml
Due: eslint --fix, prettier --write

feat: add user location and lab location comparison logic
  .vscode/settings.json
  cloudfunctions/check-clock-in/config.json
  cloudfunctions/check-clock-in/index.js
  cloudfunctions/check-clock-in/package.json
  miniprogram/app.json
  miniprogram/pages/analysis/index.wxss
  miniprogram/pages/guard/index.ts
  miniprogram/pages/guard/index.wxml
  miniprogram/pages/guard/unaudit/index.json
  miniprogram/pages/guard/unaudit/index.scss
  miniprogram/pages/guard/unaudit/index.ts
  miniprogram/pages/guard/unaudit/index.wxml
  miniprogram/pages/guard/unauth/index.json
  miniprogram/pages/guard/unauth/index.scss
  miniprogram/pages/guard/unauth/index.ts
  miniprogram/pages/guard/unauth/index.wxml
  miniprogram/pages/index/index.json
  miniprogram/pages/index/index.ts
  miniprogram/pages/index/index.wxml
  miniprogram/pages/leave/index.wxss
  miniprogram/sitemap.json
  miniprogram/utils/cloudbase.ts
  miniprogram/utils/index.ts
  package.json
  project.config.json
  tsconfig.json
  typings/types/wx/index.d.ts
  typings/types/wx/lib.wx.api.d.ts
  typings/types/wx/lib.wx.app.d.ts
  typings/types/wx/lib.wx.behavior.d.ts
  typings/types/wx/lib.wx.cloud.d.ts
  typings/types/wx/lib.wx.component.d.ts
  typings/types/wx/lib.wx.event.d.ts
  typings/types/wx/lib.wx.page.d.ts
Due: eslint --fix, prettier --write

fix: some adjustments
  cloudfunctions/auth/index.js
  miniprogram/components/loading/index.scss
  miniprogram/pages/guard/index.ts
  miniprogram/pages/guard/index.wxml
  miniprogram/pages/index/index.ts
  miniprogram/pages/index/index.wxml
Due: eslint --fix, prettier --write

feat: add vant-weapp
  .eslintignore
  .gitignore
  .vscode/settings.json
  miniprogram/app.json
  miniprogram/pages/index/index.json
  package-lock.json
  package.json
  project.config.json
  tsconfig.json
Due: prettier --write

feat: optimize loading page
  miniprogram/components/button/index.json
  miniprogram/components/button/index.ts
  miniprogram/components/button/index.wxml
  miniprogram/components/button/index.wxss
  miniprogram/components/loading/index.scss
  miniprogram/pages/guard/index.json
  miniprogram/pages/guard/index.scss
  miniprogram/pages/guard/index.ts
  miniprogram/pages/guard/index.wxml
Due: eslint --fix, prettier --write

fix: replace miniprogram-api-typings with @types/wechat-miniprogram
  miniprogram/app.ts
  package-lock.json
  package.json
  tsconfig.json
  typings/index.d.ts
  typings/types/index.d.ts
  typings/types/wx/index.d.ts
  typings/types/wx/lib.wx.api.d.ts
  typings/types/wx/lib.wx.app.d.ts
  typings/types/wx/lib.wx.behavior.d.ts
  typings/types/wx/lib.wx.cloud.d.ts
  typings/types/wx/lib.wx.component.d.ts
  typings/types/wx/lib.wx.event.d.ts
  typings/types/wx/lib.wx.page.d.ts
Due: eslint --fix, prettier --write

feat: finish auth page
  .prettierignore
  README.md
  miniprogram/app.scss
  miniprogram/components/button/index.json
  miniprogram/components/button/index.ts
  miniprogram/components/button/index.wxml
  miniprogram/components/button/index.wxss
  miniprogram/components/loading/index.scss
  miniprogram/components/loading/index.wxml
  miniprogram/pages/guard/index.json
  miniprogram/pages/guard/index.scss
  miniprogram/pages/guard/index.ts
  miniprogram/pages/guard/index.wxml
  miniprogram/pages/index/index.ts
  miniprogram/types/index.ts
  miniprogram/utils/cloudbase.ts
  project.config.json
Due: eslint --fix, prettier --write

feat: finish unaudit page
  README.md
  miniprogram/pages/guard/index.scss
  miniprogram/pages/guard/index.wxml
Due: prettier --write

feat: optimize guard logic
  miniprogram/app.json
  miniprogram/pages/guard/index.ts
  miniprogram/pages/guard/index.wxml
Due: eslint --fix, prettier --write

fix: fix guard picker bug
  miniprogram/pages/guard/index.wxml
Due: prettier --write

feat(index): finish index page style
  miniprogram/image/analysis-active.png
  miniprogram/image/analysis.png
  miniprogram/image/ask-for-leave-active.png
  miniprogram/image/ask-for-leave.png
  miniprogram/image/background.png
  miniprogram/image/card/analysis.png
  miniprogram/image/card/clockin.png
  miniprogram/image/card/leave.png
  miniprogram/image/clock-in-active.png
  miniprogram/image/clock-in.png
  miniprogram/pages/clockin/index.json
  miniprogram/pages/clockin/index.scss
  miniprogram/pages/clockin/index.ts
  miniprogram/pages/clockin/index.wxml
  miniprogram/pages/index/index.json
  miniprogram/pages/index/index.scss
  miniprogram/pages/index/index.ts
  miniprogram/pages/index/index.wxml
Due: eslint --fix, prettier --write

feat: add navigate function
  miniprogram/app.json
  miniprogram/pages/index/index.ts
  miniprogram/pages/index/index.wxml
Due: eslint --fix, prettier --write

feat: perfect login in page
  README.md
  miniprogram/pages/clockin/index.scss
  miniprogram/pages/clockin/index.ts
  miniprogram/pages/clockin/index.wxml
Due: eslint --fix, prettier --write

fix: change selectedLabIndex to selectedLabName
  miniprogram/pages/guard/index.ts
Due: eslint --fix, prettier --write

feat: adjust utils/cloudbase functions
  miniprogram/utils/cloudbase.ts
Due: eslint --fix, prettier --write

feat: update cloud functions
  .prettierignore
  .vscode/settings.json
  README.md
  cloudfunctions/cloudbase/addUser/index.js
  cloudfunctions/cloudbase/auth/index.js
  cloudfunctions/cloudbase/config.json
  cloudfunctions/cloudbase/getAllLab/index.js
  cloudfunctions/cloudbase/getUserLab/index.js
  cloudfunctions/cloudbase/index.js
  cloudfunctions/cloudbase/init.js
  cloudfunctions/cloudbase/package-lock.json
  cloudfunctions/cloudbase/package.json
  miniprogram/pages/clockin/index.ts
  miniprogram/pages/guard/index.ts
  miniprogram/types/index.ts
  miniprogram/utils/cloudbase.ts
Due: eslint --fix, prettier --write

feat: update clockin page function logic
  README.md
  cloudfunctions/cloudbase/getUserLab/index.js
  miniprogram/app.json
  miniprogram/pages/clockin/index.scss
  miniprogram/pages/clockin/index.ts
  miniprogram/pages/clockin/index.wxml
  project.config.json
Due: eslint --fix, prettier --write

feat: add clock in state check
  cloudfunctions/cloudbase/checkClockIn/index.js
  cloudfunctions/cloudbase/clockIn/index.js
  cloudfunctions/cloudbase/index.js
  miniprogram/pages/clockin/index.json
  miniprogram/pages/clockin/index.scss
  miniprogram/pages/clockin/index.ts
  miniprogram/pages/clockin/index.wxml
Due: eslint --fix, prettier --write

feat: finish clock in logic
  cloudfunctions/cloudbase/clockIn/index.js
  cloudfunctions/cloudbase/getUserLab/index.js
  miniprogram/pages/clockin/index.ts
  miniprogram/pages/clockin/index.wxml
Due: eslint --fix, prettier --write

feat(cloudfunctions): replace loop logic with orderBy
  cloudfunctions/cloudbase/checkClockIn/index.js
Due: eslint --fix, prettier --write

feat: perfect cloudFunction return
  README.md
  cloudfunctions/cloudbase/checkClockIn/index.js
  cloudfunctions/cloudbase/clockIn/index.js
  cloudfunctions/cloudbase/utils.js
  miniprogram/image/clockIn/success.png
  miniprogram/image/clockIn/warning.png
  miniprogram/image/leave/success.png
  miniprogram/image/leave/warning.png
  miniprogram/pages/clockin/index.ts
Due: eslint --fix, prettier --write

feat: finish clock success and prohibit page
  README.md
  miniprogram/pages/clockin/index.scss
  miniprogram/pages/clockin/index.ts
  miniprogram/pages/clockin/index.wxml
Due: eslint --fix, prettier --write

feat: compile cloudfunctions with typescript
  cloudfunctions/build/cloudbase/index.js
  cloudfunctions/build/cloudbase/index.js.map
  cloudfunctions/build/cloudbase/package.json
  cloudfunctions/cloudbase/index.ts
  cloudfunctions/config/gulpfile.ts
  cloudfunctions/config/utils.ts
  cloudfunctions/functions/cloudbase/index.ts
  cloudfunctions/functions/cloudbase/package-lock.json
  cloudfunctions/functions/cloudbase/package.json
  cloudfunctions/package-lock.json
  cloudfunctions/package.json
  cloudfunctions/tsconfig.json
Due: eslint --fix, prettier --write

feat: some configs
  .vscode/settings.json
  project.config.json
  tsconfig.json
Due: prettier --write

feat: remove functions to functions/cloudbase
  cloudfunctions/build/cloudbase/index.js
  cloudfunctions/build/cloudbase/index.js.map
  cloudfunctions/build/cloudbase/package.json
  cloudfunctions/config/gulpfile.ts
  cloudfunctions/functions/cloudbase/addUser/index.ts
  cloudfunctions/functions/cloudbase/auth/index.ts
  cloudfunctions/functions/cloudbase/checkClockIn/index.ts
  cloudfunctions/functions/cloudbase/clockIn/index.ts
  cloudfunctions/functions/cloudbase/getAllLab/index.ts
  cloudfunctions/functions/cloudbase/getUserLab/index.ts
  cloudfunctions/functions/cloudbase/index.ts
  cloudfunctions/functions/cloudbase/init.ts
  cloudfunctions/functions/cloudbase/test1.ts
  cloudfunctions/functions/cloudbase/test2.ts
  cloudfunctions/functions/cloudbase/utils.ts
  cloudfunctions/package-lock.json
  cloudfunctions/package.json
  cloudfunctions/tsconfig.json
Due: eslint --fix, prettier --write

feat: finish glup and rollup compile
  cloudfunctions/cloudbase/addUser/index.js
  cloudfunctions/cloudbase/auth/index.js
  cloudfunctions/cloudbase/checkClockIn/index.js
  cloudfunctions/cloudbase/clockIn/index.js
  cloudfunctions/cloudbase/config.json
  cloudfunctions/cloudbase/getAllLab/index.js
  cloudfunctions/cloudbase/getUserLab/index.js
  cloudfunctions/cloudbase/index.js
  cloudfunctions/cloudbase/index.ts
  cloudfunctions/cloudbase/init.js
  cloudfunctions/cloudbase/package-lock.json
  cloudfunctions/cloudbase/package.json
  cloudfunctions/cloudbase/utils.js
  cloudfunctions/config/gulpfile.ts
  cloudfunctions/functions/cloudbase/test1.ts
  cloudfunctions/functions/cloudbase/test2.ts
  cloudfunctions/package-lock.json
  cloudfunctions/package.json
  cloudfunctions/tsconfig.json
Due: eslint --fix, prettier --write

feat: config gitignore
  .gitignore
Due: none

feat: adjust types
  cloudfunctions/functions/cloudbase/addUser/index.ts
  cloudfunctions/functions/cloudbase/auth/index.ts
  cloudfunctions/functions/cloudbase/checkClockIn/index.ts
  cloudfunctions/functions/cloudbase/clockIn/index.ts
  cloudfunctions/functions/cloudbase/getUserLab/index.ts
  cloudfunctions/functions/cloudbase/utils.ts
  miniprogram/pages/clockin/index.ts
  miniprogram/pages/guard/index.ts
  types/index.ts
Due: eslint --fix, prettier --write

feat: add private prefix for cloudfunctions params
  cloudfunctions/functions/cloudbase/addUser/index.ts
  cloudfunctions/functions/cloudbase/auth/index.ts
  cloudfunctions/functions/cloudbase/checkClockIn/index.ts
  cloudfunctions/functions/cloudbase/clockIn/index.ts
  cloudfunctions/functions/cloudbase/getUserLab/index.ts
Due: eslint --fix, prettier --write

feat: replace dateFormat function with dayjs and fix timezone problem
  cloudfunctions/config/gulpfile.ts
  cloudfunctions/functions/cloudbase/addUser/index.ts
  cloudfunctions/functions/cloudbase/checkClockIn/index.ts
  cloudfunctions/functions/cloudbase/clockIn/index.ts
  cloudfunctions/functions/cloudbase/package-lock.json
  cloudfunctions/functions/cloudbase/package.json
  cloudfunctions/functions/cloudbase/utils.ts
Due: eslint --fix, prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore(deps): pin dependencies
  cloudfunctions/package-lock.json
  cloudfunctions/package.json
  package-lock.json
  package.json
Due: prettier --write

feat: add renovate.json
  .github/renovate.json
  renovate.json
Due: prettier --write

chore(deps): update dependency typescript to v4.5.3
  cloudfunctions/package-lock.json
  cloudfunctions/package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.5.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.61.0
  cloudfunctions/package-lock.json
  cloudfunctions/package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v12
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,wxml,scss}
